@model  MVCCrud.Models.CustomModel.EmployeesModel
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        <div class="w-50 mx-auto p-5 mt-4 border">
            <div class="text-end">
                <a href="/Home/ListOfEmployee" class="btn btn-danger">X</a>
            </div>
            <h2 class="text-center mb-5">Add Employee</h2>
            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.employeeID, new { @class = "form-control", @placeholder = "", @hidden = "hidden" })
            </div>
            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.firstname, new { @class = "form-control", @placeholder = "" })
                @Html.LabelFor(m => m.firstname, "Firstname")
                @Html.ValidationMessageFor(m => m.firstname, null, new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", @placeholder = "" })
                @Html.LabelFor(m => m.lastname, "Lastname")
                @Html.ValidationMessageFor(m => m.lastname, null, new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.emp_role, new { @class = "form-control", @placeholder = "" })
                @Html.LabelFor(m => m.emp_role, "Role")
                @Html.ValidationMessageFor(m => m.emp_role, null, new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control", @placeholder = "" })
                @Html.LabelFor(m => m.phoneNumber, "Contact Number")
                @Html.ValidationMessageFor(m => m.phoneNumber, null, new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "", @type = "email" })
                @Html.LabelFor(m => m.email, "Email Address")
                @Html.ValidationMessageFor(m => m.email, null, new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.TextAreaFor(m => m.emp_address, new { @class = "form-control", @placeholder = "" })
                @Html.LabelFor(m => m.emp_address, "Address")
                @Html.ValidationMessageFor(m => m.emp_address, null, new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.TextBox("emp_profile", null, new { @class = "form-control", @type = "file" })
                @Html.LabelFor(m => m.emp_profile, "Profile Picture")
                @Html.ValidationMessageFor(m => m.emp_profile, null, new { @class = "text-danger" })
            </div>
            <div class="ps-4 bg-white border rounded-3 mb-3 ">
                <p class="ps-0 mb-1">Gender</p>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.gender, "Male", new { @class = "form-check-input", @id = "Male", @checked = true })
                    @*<input class="form-check-input" type="radio" name="gender" id="Male" checked cvalue="Male">*@
                    <label class="form-check-label" for="Male">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.gender, "Female", new { @class = "form-check-input", @id = "Female" })
                    @*<input class="form-check-input" type="radio" name="gender" id="Female" value="Female">*@
                    <label class="form-check-label" for="Female">
                        Female
                    </label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.gender, "Other", new { @class = "form-check-input", @id = "Other" })
                    @*<input class="form-check-input" type="radio" name="gender" id="Other" value="Other">*@
                    <label class="form-check-label" for="Other">
                        Other
                    </label>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    }
</div>