    @{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="wrap">
    <p>@ViewBag.str</p>
    <div class="img" style="background-image: url(../../Content/Theme/login-form-15/images/bg-1.jpg);"></div>
    <div class="login-wrap p-4 p-md-5">
        <div class="d-flex">
            <div class="w-100">
                <h3 class="mb-4">Sign Up</h3>
            </div>
        </div>
        <form  method="post" novalidate>
            <div class="row">
                <div class="form-floating mt-3 col-6">
                    <input type="text" class="form-control" required name="firstname" placeholder="">
                    <label class="ms-3">Firstname</label>
                    @Html.ValidationMessage("firstname", new { @class = "text-danger" })
                </div>
                <div class="form-floating mt-3 col-6">
                    <input type="text" class="form-control" required name="lastname" placeholder="">
                    <label class="ms-3">Lastname</label>
                    @Html.ValidationMessage("lastname", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-floating mt-3 col-6">
                    <input type="email" class="form-control" required name="email" placeholder="">
                    <label class="ms-3" for="email">Email Address</label>
                    @Html.ValidationMessage("email", new { @class = "text-danger" })
                </div>
                <div class="form-floating mt-3 col-6">
                    <input type="text" class="form-control" required name="phoneNumber" placeholder="">
                    <label class="ms-3" for="phoneNumber">Phone Number</label>
                    @Html.ValidationMessage("phoneNumber", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-floating mt-3 col-6">
                    <input name="og_pass" type="password" class="form-control" required placeholder="">
                    <label class="ms-3">Password</label>
                    @Html.ValidationMessage("og_pass", new { @class = "text-danger" })
                </div>
                <div class="form-floating mt-3 col-6">
                    <input name="cnf_pass" type="password" class="form-control" required placeholder="">
                    <label class="ms-3">Confirm Password</label>
                    @Html.ValidationMessage("cnf_pass", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
            </div>
        </form>
        <p class="text-center">Already have an account? <a href="/Login/SignIn">Sign In</a></p>
    </div>
</div>